<!DOCTYPE  html>
<html>
	<head>
	<title>市场 </title>
	<style>
		.licl-table{
			width: 650px;
			border: 1px solid #000000;
			border-collapse: collapse; 
		}
		.licl-table th,td{
			text-align: center;
			border: 1px solid #000000
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>
		<div>用户表</div>
		<table class="licl-table" id="userTable"></table>
		<div>资金表</div>
		<table class="licl-table" id="fundsTable"></table>
		<div>仓单表</div>
		<table class="licl-table" id="receiptTable"></table>
		<div>卖方订单表</div>
		<table class="licl-table" id="orderSellTable"></table>
	</body>
	<script src="static/js/allData.js"></script>
</html>


