<!DOCTYPE  html>
<html>
	<head>
	<title>市场 </title>
	<style>
		.licl-table{
			width: 500px;
			border: 1px solid #000000;
			border-collapse: collapse; 
		}
		.licl-table th,td{
			text-align: center;
			border: 1px solid #000000
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>

	<body>
	<div>账户地址： <span id="userAddr"></span> </div>
	<div>用户ID： <span id="userId"></span> </div>
	<div>挂单信息</div>
	<table class="licl-table" id="listTable"></table>

	</body>
	<script src="/static/js/market.js"></script>
</html>
