<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
		</script>
	</head>
	<body>
		<p id = "p_account"></p>
		<div>
			用户账号： <input type="text" id="account_in" value="vip"><br><br>
			用户密码： <input type="text" id="password_in" value="12345678">
			<br><br>
			<button type="button"  id="b1">序列化 </button>
		</div>
			<div>
				<p id="obj_p"></p> 
				<p id="json_p"></p> 
			</div>
			<a href="http://222.22.64.80:8081/admin">管理员</a>
			<a href="http://222.22.64.80:8081/user">用户</a>
	</body>
	<script src="/static/js/register.js"></script>
</html>
