<!DOCTYPE html>
<html>
<head>
	<title>用户 </title>
	<style>
		.licl-table{
			width: 500px;
			border: 1px solid #000000;
			border-collapse: collapse; 
		}
		.licl-table th,td{
			text-align: center;
			border: 1px solid #000000
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
	<div>公钥： <span id="publicKey"></span> </div>
	<div>用户ID： <span id="userId"></span> </div>
	<div>用户的资金-智能合约</div>
	<table class="licl-table" id="fundsTable"></table>
	<div>拥有的仓单-智能合约</div>
	<table class="licl-table" id="receiptTable"></table>

	<div>用户的资金-数据库</div>
	<table class="licl-table" id="fundsTableDB"></table>
	<div>拥有的仓单-数据库</div>
	<table class="licl-table" id="receiptTableDB"></table>
	<div>我的挂单</div>
	<table class="licl-table" id="userListTable"></table>

	<div>挂牌</div>
	<div>
		<form>
			仓单编号：
			<input type="text" id="receiptId" value="1">
			<br>
			价格：
			<input type="text" id="price" value="10">
			<br>
			数量：
			<input type="text" id="QtySell" value="3">
			<br>
		</form>
			<button type="button" id="bt_listTrade">挂牌</button>
	</div>
		<button type="button" id="bt_setNonce">设置nonce</button>
	
	<div>
		<form>
			挂单编号：
			<input type="text" id="listId">
		</form>
		<button type="button" id="bt_cancellation">撤单</button>
	</div>
	
</body>

	<script src="/static/js/user.js"></script>
</html>
